{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid mt-1 " >
    <h1 class="text-center mb-4">SHOPPING CART</h1>
    <div class="row">
        <div class="col-7">
            <table class="table table-bordered border-2">
                <tr>
                    <th colspan="6" class="text-center">CART ITEMS</th>
                </tr>
                {% for i in cart %}
                <tr>
                    <td><img style="height:100px;width:100px;" src="{{i.product.image.url}}"></td>
                    <td>Product Name: {{i.product.name}}</td>
                    <td>ProductId: {{i.product.id}}</td>
                    <td>Quantity: {{i.quantity}}<br>
                    UnitPrice:<i class="fa-solid fa-indian-rupee-sign"></i>{{i.product.price}}</td>
                    <td>Subtotal:<i class="fa-solid fa-indian-rupee-sign"></i>{{i.subtotal}}</td>

                    {% if i.product.stock %}
                    <td>
                       <div style="display: flex; gap: 2px; align-items: center;">
                           <a  href="{% url 'cart:addtocart' i.product.id %}"><i class="fa-solid fa-circle-plus"></i></a>
                           <a  href="{% url 'cart:cart_minus' i.product.id %}"><i class="fa-solid fa-circle-minus"></i></a>
                           <a  href="{% url 'cart:cart_delete' i.product.id %}"><i class="fa-solid fa-trash"></i></a>
                       </div>
                    </td>
                    {% else %}
                    <td>
                       <div style="display: flex; gap: 2px; align-items: center;">
<!--                           <a class="text-light" href="{% url 'cart:addtocart' i.product.id %}"><i class="fa-solid fa-circle-plus"></i></a>-->
                           <a  href="{% url 'cart:cart_minus' i.product.id %}"><i class="fa-solid fa-circle-minus"></i></a>
                           <a  href="{% url 'cart:cart_delete' i.product.id %}"><i class="fa-solid fa-trash"></i></a>
                       </div>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}

            </table>
        </div>
        <div class="col-4">
             <table class="table table-bordered border-2">
                <tr>
                    <th colspan="4" class="text-center">CHECKOUT</th>
                </tr>
                 <tr>
                    <td class="text-center">Subtotal: <i class="fa-solid fa-indian-rupee-sign"></i><strong>{{total}}</strong></td>
                 </tr>

            </table>
            <a href="{% url 'cart:orderform' %}"><button class="btn btn-light">Place Order</button></a>
            <a href="{% url 'shop:home' %}"><button class="btn btn-light float-end">Continue Shopping</button></a>
        </div>
    </div>
</div>

{% endblock %}